.socialIcons{
    width: 100%;
}
.socialIcons ul{
    list-style: none;
    width: 230px;
    margin: auto;
    padding-left: 0;
}
.socialIcons ul li{
    display: inline-block;
    padding-left: 10px;
}
.socialIcons ul li a img{
    width: 50px;
}